* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    background: rgb(106, 146, 90);
    padding: 20px 0px;
    border-bottom: 2px solid darkgreen;
}


.container {
    max-width: 900px;
    margin: 0 auto;
}


.container h1 {
    font-size: 40px;
    color: white;
    margin-top: -20px;
    margin-left: 10px;
    font-family: monospace;
    display: flex;
    justify-content: left;
}


main {
    background-color: rgb(230, 214, 194);
    width: 70%;
    padding: 20px;
    margin-bottom: -450px;
}


.main-content {
    margin: 30px auto;
    display: flex;
    justify-content: center;
}


.main-photo {
    float: left;
    margin: 15px 20px 10px 0;
    width: 200px;
    padding-top: 5px;
}


p {
    margin: 20px 0;
    line-height: 140%;
}


nav {
    display: flex;
    justify-content: flex-end;
}


nav a {
    color: white;
    font-family: monospace;
    font-size: 20px;
    margin-right: 15px;
    text-decoration: none;
    border-right: 1px solid white;
    padding: 10px;
}


aside {
    background-color: blanchedalmond;
    width: 20%;
    padding: 20px;
}


aside img {
    width: 50px;
    margin-right: 5px;
    box-shadow: 3px 3px 6px black;
}


.links {
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    font-family: monospace;
    font-size: 25px;
}


.subheading {
    font-size: 30px;
    border-bottom: 1px solid black;
    padding: 1px;
    font-family: monospace;
}


footer {
    clear: both;
}


footer {
    background: rgb(106, 146, 90);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 2px solid darkgreen;
}


footer p {
    font-size: 15px;
    color: black;
    font-family: monospace;
}


body {
    background-image:url(../images/leaves.png);
}

